doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CPSC 304 - SportStats
    link(href='../node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='./style/cover.css', rel='stylesheet')
    script(type='text/javascript', src='../app.js')
    script.
        function validateForm() {
            var x = document.forms["update"]["managerSalary"].value;
            if (isNaN(x)) {
                alert("Please enter a proper salary (that means numbers yo)!");
                return false;
            }
        }
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand SportStats
              nav
                ul.nav.masthead-nav
                  li
                    a(href='/') Home
                  li.active
                    a(href='#') ADMIN USER
          div
            body
              h4 Update Manager Salary
              form(name='update', action='/update', onsubmit='return validateForm()', ,='', method='post')
                div
                  label.col-md-4.control-label(for='managerFirstName') Manager Firstname
                  |
                  input#managerFirstName.form-control.typeahead.tt-query(type='text', name='managerFirstName', placeholder='Phil')
                  |
                p
                div
                  label.col-md-4.control-label(for='managerLastName') Manager Lastname
                    |
                    input#managerLastName.form-control.typeahead.tt-query(type='text', name='managerLastName', placeholder='Jackson')
                    |
                p
                div
                  label.col-md-4.control-label(for='managerSalary') Salary (USD)
                    |
                    input#managerSalary.form-control.typeahead.tt-query(type='text', name='managerSalary', placeholder='100000')
                    |

                p
                input.btn.btn-primary(type='submit', name='input', value='Update')
                |

          div
            body
              h4 Add Match
              form(action='/addMatch', ,='', method='post')
                div
                  label.col-md-4.control-label(for='matchID') Match ID
                    |
                    input#matchID.form-control.typeahead.tt-query(type='text', name='matchID', placeholder='6')
                    |
                p
                div
                  label.col-md-4.control-label(for='matchDate') Match Date
                    |
                    input#matchDate.form-control.typeahead.tt-query(type='text', name='matchDate', placeholder='09-04-2017')
                    |
                p
                div
                  label.col-md-4.control-label(for='homeScore') Home Score
                    |
                    input#homeScore.form-control.typeahead.tt-query(type='text', name='homeScore', placeholder='42')
                    |
                p
                div
                  label.col-md-4.control-label(for='awayScore') Away Score
                  |
                  input#awayScore.form-control.typeahead.tt-query(type='text', name='awayScore', placeholder='30')
                  |

                p
                input.btn.btn-primary(type='submit', name='input', value='Add')
                |


          div
            body
              h4 Delete Match
              form(action='/delMatch', ,='', method='post')
                div
                  label.col-md-4.control-label(for='matchID') Match ID
                    |
                    input#matchID.form-control.typeahead.tt-query(type='text', name='matchID', placeholder='6')
                    |
                p
                input.btn.btn-primary(type='submit', name='input', value='Delete')
                |

                h4 #{getResults()}

