doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title CPSC 304 - SportStats
    link(href='../node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='../style/cover.css', rel='stylesheet')
    script(type='text/javascript', src='../app.js')
    script.
        function validateForm() {
            var x = document.forms["searchTeam"]["teamName"].value;
            if (x == "") {
                alert("Please enter a team name!");
                return false;
            }
        }
        function validateAggForm() {
            var y = document.forms["aggregationQuery"]["statVar"].value;
            if (y == "") {
                alert("Please enter a proper stat or team name!");
                return false;
            }
        }
        function validateSpecialQuery() {
                    var y = document.forms["specialQueries"]["FName"].value;
                    var x = document.forms["specialQueries"]["LName"].value
                    if ((x == "") || (y == "")) {
                        alert("Please enter a proper player like Kobe Bryant");
                        return false;
                    }
        }
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand SportStats
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='#') Home
                  li
                    a(href='/add') Update
          div
            body
              h4 Search Teams
              form(name='searchTeam', action='/searchTeam', onsubmit='return validateForm()', ,='', method='post')
                label.col-md-4.control-label(for='teamName')
                |
                input#teamName.form-control.typeahead.tt-query(type='text', name='teamName', placeholder='Lakers')
                |
                label.col-md-4.control-label(for='radios')
                .col-md-4
                  label.radio-inline(for='teamPlayers')
                    input#teamPlayers(type='radio', name='radios', value='1', checked='checked')
                    |  Players
                  |
                  label.radio-inline(for='teamMatches')
                    input#teamMatches(type='radio', name='radios', value='2')
                    |  Matches
                  |
                  label.radio-inline(for='manager')
                    input#manager(type='radio', name='radios', value='3')
                    |  Manager
                |
                input.btn.btn-primary(type='submit', name='input', value='Submit')
                |
          p

          div
            body
              h4 Aggregation Queries (Select a stat for max and min and a team for count)
              form(name='aggregationQuery', action='/aggregationQuery', onsubmit='return validateAggForm()', ,='', method='post')
                label.col-md-4.control-label(for='statVar')
                |
                input#statVar.form-control.typeahead.tt-query(type='text', name='statVar', placeholder='Points')
                |
                label.col-md-4.control-label(for='radios')
                .col-md-4
                  label.radio-inline(for='bestPlayer')
                    input#teamPlayers(type='radio', name='radios', value='1', checked='checked')
                    |  Max
                  |
                  label.radio-inline(for='worstPlayer')
                    input#teamMatches(type='radio', name='radios', value='2')
                    |  Min
                  label.radio-inline(for='countPlayersOnTeam')
                    input#manager(type='radio', name='radios', value='3')
                    |  Count
                |
                input.btn.btn-primary(type='submit', name='input', value='Submit')
                |



          div
            body
              h4 Special Queries (Select a first and last name and choose your option)
              form(name='specialQueries', action='/specialQueries', onsubmit='return validateSpecialQuery()', ,='', method='post')
                label.col-md-4.control-label(for='FName')
                  |
                  input#FName.form-control.typeahead.tt-query(type='text', name='FName', placeholder='First Name')
                  |
                  input#LName.form-control.typeahead.tt-query(type='text', name='LName', placeholder='Last Name')
                  |
                  label.col-md-4.control-label(for='radios')
                  .col-md-4
                    label.radio-inline(for='trueShootingSingle')
                      input#trueShootingSingle(type='radio', name='radios', value='1', checked='checked')
                      |  True Shooting %
                    |
                    label.radio-inline(for='effectiveShootingSingle')
                      input#effectiveShootingSingle(type='radio', name='radios', value='2')
                      |  Effective Shooting %
                  |
                  input.btn.btn-primary(type='submit', name='input', value='Submit')
                  |
          div
                      body
                        h4 Nested Aggregation Queries (MAX/MIN and SUM/AVG)
                        form(name='specialQueries', action='/specialQueries', onsubmit='return validateSpecialQuery()', ,='', method='post')
                          label.col-md-4.control-label(for='FName')
                            |
                            input#FName.form-control.typeahead.tt-query(type='text', name='FName', placeholder='Kobe')
                            |
                            input#LName.form-control.typeahead.tt-query(type='text', name='LName', placeholder='Bryant')
                            |
                            label.col-md-4.control-label(for='radios')
                            .col-md-4
                              label.radio-inline(for='trueShootingSingle')
                                input#trueShootingSingle(type='radio', name='radios', value='1', checked='checked')
                                |  True Shooting %
                              |
                              label.radio-inline(for='effectiveShootingSingle')
                                input#effectiveShootingSingle(type='radio', name='radios', value='2')
                                |  Effective Shooting %
                            |
                            input.btn.btn-primary(type='submit', name='input', value='Submit')
                            |
                            #{getResults()}


          .mastfoot
            .inner
              p CPSC 304 Project.